/* Style */

#banner
{

  margin-bottom:3%; 
  font-size:55px;
  font-family: 'Open Sans Condensed', sans-serif;
  color:black;
  background-color:;
  padding:2%;
}


/*
#nav
{
  height:300px;
  width:100px;
  float:left;
  padding-right:60px;
  font-family: 'Ubuntu', sans-serif;
  font-size:20px;
  }
*/

#nav
{
font-size:20px;
 font-family: 'Cuprum', sans-serif;
}



#main
{
  color:black;
  width:30%;
  margin-left:auto;
  margin-right:auto;
  padding:10px;   
}


/* Attributes */

body
{
    background-color:;
}

li
{
    display:inline;
    margin-right:auto;
    margin-left:auto;
    
}

a {
    color:#6D9ABD;
    text-decoration:none;
}


a:hover {
 color:white;
 text-decoration:none;
 background-color:#042037;
 padding:5%;
 
}

td
{

}



/*fonts */



. {
     font-family: 'Cuprum', sans-serif;
}



/*
http://paletton.com/#uid=13f0u0kr3ym00R2ijN5m2mYEQdw
*/








